.name {
    font-family: sans-serif;
    font-size: medium;
    color: black;
}

.actno {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: bold;
    color: black;
}

.actors {
    font-family: 'Segoe UI';
    color: green;
}

.lyrics {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: black;
}

h6.speech {
    font-size: 20px;
}

.speech {
    font-family: Courier, monospace;
    font-size: small;
    color: black;
}

.direction-1,
.direction-2,
.direction-3,
.direction-4 {
    font-weight: bold;
    color: blue;
    background-color: bisque;
}

.direction-1:hover {
    background-color: chartreuse;
    color: maroon;
}

.direction-2:hover {
    background-color: chartreuse;
    color: maroon;
}

.direction-3:hover {
    background-color: chartreuse;
    color: maroon;
}

.direction-4:hover {
    background-color: chartreuse;
    color: maroon;
}

.Calynx {
    color: blue;
    font-size: 15px;
}

.Salata {
    color: orange;
    font-size: 15px;

}

.Tarara {
    color: gold;
    font-size: 15px;
}

.Melene {
    color: tomato;
    font-size: 15px;
}

table {
    font-family: sans-serif;
}

th,
td {
    padding: .25em .5em;
    text-align: left;
}

td {
    background-color: #eee;
}

th {
    background-color: #009;
    color: #fff;
}

.title-2 {
    text-align: center;
    font-family: Verdana;
    color: slateblue;
}

.lyrics-2 {
    font-family: Courier, monospace;
    font-size: small;
    color: indigo;
}

.Scaphio {
    color: orange;
    font-size: 15px;

}

.Phantis {
    color: gold;
    font-size: 15px;
}

.Calynx:hover {
    background: #eee;
    box-shadow: 0 8px 8px -4px lightblue;
}

.Salata:hover {
    background: #eee;
    box-shadow: 0 8px 8px -4px lightblue;
}

.Tarara:hover {
    background: #eee;
    box-shadow: 0 8px 8px -4px lightblue;
}

.Melene:hover {
    background: #eee;
    box-shadow: 0 8px 8px -4px lightblue;
}

.Phantis:hover {
    background: #eee;
    box-shadow: 0 8px 8px -4px lightblue;
}

.Scaphio:hover {
    background: #eee;
    box-shadow: 0 8px 8px -4px lightblue;
}